@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@font-face {
    font-family: '';
    src: url('RymanEco-Regular.otf') format(otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'';
    src:  url('DroidSans-Webfont.eot') format(eot);
    font-weight: normal;
    font-style: normal;
font-size:x-large ;

}
body{
    font-style: italic;
 font-family: 'Ryman Eco', 'DroidSans-Webfont';
 background-color: #f6efe9;
 cursor: pointer;
}

h1{
    text-align: center;
}
header{
    float:left;
}
#offcanvas{
    width: 100%;
    height:200px;
    position: absolute; 
}
.grid-container {
    display: grid;
    padding-top: 2.5rem;
    grid-template-areas: 
    'i1 i2 ta'
    'tb bt bx';
   
}
#tel{
   grid-area:i1;
   padding: 10px;
}
#mail{
    grid-area: i2;
    padding: 10px;
}
.text{
  grid-area: ta;
  padding: 10px;
}
#reseaux{
   grid-area:tb;
   padding: 10px;
}
#age{
  grid-area:bt;
  padding: 10px;
}
#loisir{
    grid-area: bx;
    padding: 10px;
}



#Format{
    z-index: 1;
  position: absolute;
  width: 450px;
  height: 400px;
 top: 5px;
  left: 850px;
    background-color: #001d24;
  border-radius: 50%;
  border-color: black;
  color: #d2d7d3;
}
#Format:hover{
  color: #2c75ff;
}
  
#dive{
     text-align: center;
     left:200px;
     top: 280px;
    width: 450px;
    height: 400px;
     background-color: #090979;
     opacity: 0.7;
     z-index: 2;
     position:relative;
     border-radius: 50%;
     color: #d2d7d3;
    }
#dive:hover{
  color: #2c75ff;
 
 
}
#exper{
    text-align: center;
    left: 150px;
    top: 300px;
    width: 450px;
    height: 400px;
    background-color: #bf55ec;
    opacity: 0.5;
    z-index: 3;
    position: relative;
    border-radius: 50%;
    text-decoration-color: black;
    color: #d2d7d3;
}
#exper:hover{
    color: #2c75ff;

 
}
#realisation{
    text-align: center;
    left: 10px;
    top: -400px;
    width: 450px;
    height: 400px;
    background-color:  #3fc380;
    opacity: 0.5;
    z-index: 4;
    position: relative;
    border-radius: 50%;
    color: #d2d7d3;
}
#realisation:hover{
    color: #2c75ff;


}
.modal-content{
    background-color: #cdd1e4;
    height: 400px;
    width: 700px;
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px */
@media all and (max-width: 800px)
{
    #exper 
    {
      position: relative;
        height: 150px;
        width: 100%;
        text-align: center;
        border-radius: 0%;
        left: auto;
        top: auto;
        margin: 2px 0;
        z-index: 1;
    }
    #dive 
    {
        position: relative;
        height: 150px;
        width: 100%;
        text-align: center;
        border-radius: 0%;
        left: auto;
        top: auto;
      margin: 2px 0;
        z-index: 2;
    }
    #Format 
    {
        height: 150px;
        width: 100%;
        text-align: center;
        border-radius: 0%;
       position: relative;
       left: auto;
       top: auto;
       margin: 2px 0;        
    }


    #realisation
    {
        position: relative;
        height: 150px;
        width: 100%;
        text-align: center;
        border-radius: 0%;
        left: auto;
        top: auto;
        margin: 2px 0;
        
    }
    
   

   .modal-content
    {
        height: min-content;
        width: 350px;
    }
    #offcanvas{
               width: 400px;
               height: 400px;
   
    }
    #moi{
        width: 100%;
        margin: 2px 0;
    }
    header{
        float: none;
    }

    .grid-container {
        display: grid;
       margin: 0;
        grid-template-areas: 
        'i1'
        'i2'
        'ta'
        'tb'
        'bt'
        'bx';
       
    }
    #tel{
       grid-area:i1;
       
    }
    #mail{
        grid-area: i2;
        
    }
    .text{
      grid-area: ta;
    
    }
    #reseaux{
       grid-area: tb;
      
    }
    #age{
      grid-area: bt;
    
    }
    #loisir{
        grid-area: bx;
      
    }
    
    

}